/* General */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; 
    color: #000;
    margin: 0;
    padding: 0;
}

#SectionImage, .content {
    background-color: #f7f7f7; 
    margin: 20px auto;
    padding: 20px;
    width: 60%;
}

.FlotteDroite {
    float: right;
    height: 9em;
    padding-left: 20px;
}

hr.fine-line {
    background-color: #f7f7f7; 
    border: none;
    border-top: 1px solid #000;
    margin: 20px auto;
    width: 60%;
}

/* Header: ex INCOME + image */
.header {
    position: relative;
}

.logo-image {
    position: absolute;
    top: 0;
    right: 0;
    width: 80px; /* Adjust the width as needed */
    height: auto; /* Maintains the aspect ratio */
}

/* NAVIGATION BAR */
/* Conteneur de la barre de navigation pour la centrer */
.navbar-container {
    width: 100%; /* Prend toute la largeur disponible */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    padding: 3px 0; /* Espacement autour de la barre réduit */
}

/* Styles de la barre de navigation */
.navbar {
    background-color: #f0f0f0;
    overflow: hidden;
    width: 100%; /* Largeur totale */
    max-width: 1200px; /* Largeur maximale si souhaité */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    padding: 2px 0; /* Padding réduit pour une hauteur plus fine */
}

/* Styles des liens */
.navbar a {
    display: block;
    color: black; /* Texte en noir */
    text-align: center;
    padding: 5px 10px; /* Padding réduit */
    text-decoration: none;
    font-size: 12px; /* Taille de police plus petite */
    font-weight: 700; /* Texte en gras (valeur 700 pour le gras) */
}
/* Cibler le lien "Dual Task Calculator" par sa classe */
.navbar a.highlighted-link {
    color: #2b1399;
}

/* Pas d'effet de survol */
.navbar a:hover, .dropdown-content a:hover {
    background-color: inherit;
    color: black;
}

/* FOOTER */
/* Conteneur de la barre de pied de page pour la centrer */
.footer-container {
    width: 100%; /* Prend toute la largeur disponible */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    padding: 3px 0; /* Espacement autour du pied de page réduit */
}

/* Styles du pied de page */
.footer {
    background-color: #f0f0f0;
    overflow: hidden;
    width: 100%; /* Largeur totale */
    max-width: 1200px; /* Largeur maximale si souhaité */
    display: flex;
    justify-content: center; /* Centre horizontalement */
    padding: 2px 0; /* Padding réduit pour une hauteur plus fine */
}

/* Styles des liens du pied de page */
.footer a {
    display: block;
    color: black; /* Texte en noir */
    text-align: center;
    padding: 5px 10px; /* Padding réduit */
    text-decoration: none;
    font-size: 12px; /* Taille de police plus petite */
}

/* Pas d'effet de survol pour le pied de page */
.footer a:hover {
    background-color: inherit;
    color: black;
}

/* CAROUSEL */
.carousel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    margin: 20px 0;
}

.carousel img {
    width: 100%;
    height: auto;
    aspect-ratio: 1 / 1.414; /* A4 aspect ratio */
    border: 1px solid #ccc; /* Gray border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f7f7f7;
    padding: 5px; /* Adds padding inside the border */
    box-sizing: border-box; /* Ensures border and padding don't affect image size */
}
