body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0; /* Gray for margin */
    color: #000;
    margin: 0;
    padding: 0;
}
#SectionImage, .content {
    background-color: #f7f7f7; /* White for central */
    margin: 20px auto;
    padding: 20px;
    width: 60%;
}
.FlotteDroite {
    float: right;
    height: 9em;
    padding-left: 20px;
}
hr.fine-line {
  background-color: #f7f7f7; /* White for central */
    border: none;
    border-top: 1px solid #000;
    margin: 20px auto;
    width: 60%;
}

/* Navigation bar */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    z-index: 1000;
}

.navbar a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ddd;
    color: black;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 17px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 20px;
    background-color: inherit;
    margin: 0;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.content {
    padding: 16px;
    margin-top: 60px;
}
